* {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}
html, body {
  background-color: #ccecf9;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
a, a:hover, a:visited {
  color: black;
  text-decoration: none;
}
hr {
   display: block;
   height: 1px;
   border: 0;
   border-top: 2px solid #777;
   margin: 1em 15% 1em 15%;
   padding: 0;
   width: 70%;
}
@media screen and (min-width: 769px) {
  body {
    font-size: 2.8em;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1em;
  }
  h4 {
    font-size: .8em;
  }
  .navlink {
    padding: 4vh;
  }
  .logo {
    width: 6em;
    height: 6em;
  }
  .project-icon {
    height: 5em;
    padding: 5px;
  }
  .web-emblem {
    width: 4em;
    padding: 5px;
  }
}
@media screen and (max-width: 768px) {
  body {
    font-size: 2em;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.2em;
  }
  h4 {
    font-size: .8em;
  }
  .logo {
    width: 6em;
    height: 6em;
  }
  .project-icon {
    height: 4em;
  }
  .web-emblem {
    width: 4em;
  }
}
@media screen and (max-width: 480px) {
  body {
    font-size: 1.2em;
  }
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 1.8em;
  }
  h4 {
    font-size: 1.7em;
  }
  li > a {
    font-size: 18px;
  }
  .logo {
    width: 6em;
    height: 6em;
  }
  .project-pic {
    width: 50vw;
  }
  .about-info {
    padding: 0 2em 0 2em;
    font-size: 14px;
  }
  .web-emblem {
    width: 5em;
    height: 5em;
  }
  /* Flex */
  .box {
    display: flex;
    flex-direction: column;
  }
  .box1 {
    order: 1;
  }
  .box2 {
    order: 2;
  }
}
.mynavbar {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
.navLink {
  display: inline-block;
  padding: 3vh;
  font-size: 30px;
}
.navLink > a {
    color: #EEE;
}
.navLink > a:hover{
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 2px solid #EEE;
}
.section-content {
  color: #333;
  text-align: center;
  padding: 0 0 2em 0;
}
.headerContainer{
  position: relative;
  height: 90vh;
  background-color: #4cbfeb;
  background: -webkit-linear-gradient(#00a4e3, #4cbfeb);
  background: -o-linear-gradient(#00a4e3, #4cbfeb);
  background: -moz-linear-gradient(#00a4e3, #4cbfeb);
  background: linear-gradient(#00a4e3, #4cbfeb);
  background-size: cover;
  box-shadow: 0px 8px 25px black;
}
.headerName{
  position: absolute;
  color: #EEEEEE;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logo {
  position: relative;
}
.about-content {
  text-align: center;
  padding: 20px 0 1em 0;
}
.about-info {
  padding-bottom: 1em;
  padding-top: 1em;
}
.web-emblem {
  max-width: 4em;
  max-height: 4em;
}
.project-header {
  padding: 1em 0 1em 0;
}
.project-pic {
  width: 40vw;
  box-shadow: 0px 8px 15px #333;
}
.box {
  text-align: center;
}
.mb3 {
  margin-bottom: 3em;
}
.mbt1{
  margin-bottom: 1em;
  margin-top: 1em;
}
.tagLine {
  padding-top: 6px;
  color: #EEE;
}
.form-style {
  padding-top: 10px;
}
.form-submit {
  float: left;
  padding-left: 15px;
}
.label-color{
  color: #00a4e3;
}

/* Animations */

.headerduration {
  animation-duration: 1.3s;
}
.delay1 {
  animation-delay: .7s;
}
.delay2 {
  animation-delay: 1s;
}
.delay3 {
  animation-delay: 1.3s;
}
.delay1b {
  animation-delay: 0.4s;
}
.delay2b {
  animation-delay: 0.6s;
}
.delay3b {
  animation-delay: 0.8s;
}
.delay4b {
  animation-delay: 1s;
}
.animheader {
    opacity:0;
}
.animcontent {
  opacity: 0;
}
