* {
  box-sizing: border-box;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 2.8em;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.2em;
  }
  h4 {
    font-size: .8em;
  }
}
@media screen and (max-width: 767px) {
  body {
    font-size: 2em;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.2em;
  }
  h4 {
    font-size: .8em;
  }
}
@media screen and (max-width: 425px) {
  body {
    font-size: 1.2em;
  }
  h1 {
    font-size: 2.3em;
  }
  h2 {
    font-size: 1.5em;
  }
  h4 {
    font-size: .9em;
  }
  a {
    font-size: 14px;
  }
}


.mynavbar {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
.navLink {
  display: inline-block;
  padding: 5vh;
}
.navLink > a {
    color: #ddd;
}
.navLink > a:hover{
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 2px solid #ddd;
}
.section-content {
  text-align: center;
  width: 100%;
}
.headerText{
  height: 100vh;
  color: #ddd;
  background-image: url("../pics/NightSky.jpg");
  background-size: cover;
  background-position: center;
}
.header{
  top: 30%;
  text-align: center;
}
.box1 {
  background-color: lightblue;
  padding: 5vh;
}
.box2 {
  background-color: rgb(223, 167, 0);
  padding: 5vh;
}
.viewWork {
  margin-top: 15px;
  padding: 8px;
  color: #ddd;
  border: solid #ddd;
}
.viewWork:hover {
  color: #eee;
}
