* {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}
html, body {
  background-color: #ddd;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
a, a:hover, a:visited {
  color: black;
  text-decoration: none;
}
hr {
   display: block;
   height: 1px;
   border: 0;
   border-top: 2px solid #777;
   margin: 1em 15% 1em 15%;
   padding: 0;
   width: 70%;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 2.8em;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1em;
  }
  h4 {
    font-size: .8em;
  }
  .navlink {
    padding: 4vh;
  }
  .project-icon {
    width: 5em;
    padding: 5px;
  }
  .web-emblem {
    width: 4em;
    padding: 5px;
  }
}
@media screen and (max-width: 767px) {
  body {
    font-size: 2em;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.2em;
  }
  h4 {
    font-size: .8em;
  }
  .project-icon {
    width: 4em;
  }
  .web-emblem {
    width: 4em;
  }
}
@media screen and (max-width: 480px) {
  body {
    font-size: 1.2em;
  }
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 1.8em;
  }
  h4 {
    font-size: 1.7em;
  }
  li > a {
    font-size: 16px;
  }
  .project-icon {
    width: 7em;
  }
  .about-info {
    padding: 0 2em 0 2em;
    font-size: 14px;
  }
  .web-emblem {
    width: 5em;
    height: 5em;
  }
}

.mynavbar {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
.navLink {
  display: inline-block;
  padding: 3vh;
  font-size: 30px;
}
.navLink > a {
    color: #eee;
}
.navLink > a:hover{
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 2px solid #ddd;
}
.section-content {
  text-align: center;
  padding: 0 0 2em 0;
}
.headerContainer{
  position: relative;
  height: 100vh;
  background-color: #000080;
  background: -webkit-linear-gradient(#3020ff, #0000a0);
  background: -o-linear-gradient(#3020ff, #0000a0);
  background: -moz-linear-gradient(#3020ff, #0000a0);
  background: linear-gradient(#3020ff, #0000a0);
  background-size: cover;
  box-shadow: 0px 8px 25px black;
}
.headerName{
  position: absolute;
  color: #eee;
  width: 100%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about-content {
  text-align: center;
  padding: 20px 0 1em 0;
  background-color: #ccc;
}
.about-info {
  padding-bottom: 1em;
}
.web-emblem {
  max-width: 4em;
  max-height: 4em;
}
.project-header {
  padding: 1em 0 1em 0;
}
.box {
  background-color: #ddd;
  padding: 1em 0 4em 0;
}
.tagLine {
  padding-top: 6px;
  color: #ddd;
}
.form-style {
  padding-top: 10px;
}
.form-submit {
  float: left;
  padding-left: 15px;
}
.label-color{
  color: #0000d3;
}
.credits-container {
  margin-top: 10px;
}
.credits {
  text-align: center;
  padding: 4px 2px 2px 2px;
  background-color: #ccc;
  font-size: 10px;
}
.credits a {
  font-size: 10px;
}

#cloudContainer {
  height: 0px;
  transform: translateY(-200px);
}

/*Time to finalise the cloud shape*/
.cloud {
	width: 200px; height: 60px;
	background: #fff;

	border-radius: 200px;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;

	position: relative;
}

.cloud:before, .cloud:after {
	content: '';
	position: absolute;
	background: #fff;
	width: 100px; height: 80px;
	position: absolute; top: -15px; left: 10px;

	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;

	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	-moz-transform: rotate(30deg);
}

.cloud:after {
	width: 120px; height: 120px;
	top: -55px; left: auto; right: 15px;
}

@media screen and (min-width: 768px) {
  /*Time to animate*/
  .x1 {
    left: 520px; top: -170px;

  	-webkit-animation: moveclouds 15s linear infinite;
  	-moz-animation: moveclouds 15s linear infinite;
  	-o-animation: moveclouds 15s linear infinite;
  }

  /*variable speed, opacity, and position of clouds for realistic effect*/
  .x2 {
  	left: 480px; top: -200px;

  	-webkit-transform: scale(0.6);
  	-moz-transform: scale(0.6);
  	transform: scale(0.6);
  	opacity: 0.6; /*opacity proportional to the size*/

  	/*Speed will also be proportional to the size and opacity*/
  	/*More the speed. Less the time in 's' = seconds*/
  	-webkit-animation: moveclouds 25s linear infinite;
  	-moz-animation: moveclouds 25s linear infinite;
  	-o-animation: moveclouds 25s linear infinite;
  }

  .x3 {
  	left: 550px; top: -230px;

  	-webkit-transform: scale(0.8);
  	-moz-transform: scale(0.8);
  	transform: scale(0.8);
  	opacity: 0.8; /*opacity proportional to the size*/

  	-webkit-animation: moveclouds 20s linear infinite;
  	-moz-animation: moveclouds 20s linear infinite;
  	-o-animation: moveclouds 20s linear infinite;
  }

  .x4 {
  	left: 470px; top: -270px;

  	-webkit-transform: scale(0.75);
  	-moz-transform: scale(0.75);
  	transform: scale(0.75);
  	opacity: 0.75; /*opacity proportional to the size*/

  	-webkit-animation: moveclouds 18s linear infinite;
  	-moz-animation: moveclouds 18s linear infinite;
  	-o-animation: moveclouds 18s linear infinite;
  }

  .x5 {
  	left: 650px; top: -170px;

  	-webkit-transform: scale(0.8);
  	-moz-transform: scale(0.8);
  	transform: scale(0.8);
  	opacity: 0.6; /*opacity proportional to the size*/

  	-webkit-animation: moveclouds 20s linear infinite;
  	-moz-animation: moveclouds 20s linear infinite;
  	-o-animation: moveclouds 20s linear infinite;
  }
  .x6 {
  	left: 600px; top: -300px;

  	-webkit-transform: scale(0.8);
  	-moz-transform: scale(0.8);
  	transform: scale(0.8);
  	opacity: 0.8; /*opacity proportional to the size*/

  	-webkit-animation: moveclouds 14s linear infinite;
  	-moz-animation: moveclouds 14s linear infinite;
  	-o-animation: moveclouds 14s linear infinite;
  }
  .x7 {
  	left: 520px; top: -330px;

  	-webkit-transform: scale(0.8);
  	-moz-transform: scale(0.8);
  	transform: scale(0.8);
  	opacity: 0.8; /*opacity proportional to the size*/

  	-webkit-animation: moveclouds 17s linear infinite;
  	-moz-animation: moveclouds 17s linear infinite;
  	-o-animation: moveclouds 17s linear infinite;
  }
  @-webkit-keyframes moveclouds {
  	0% {margin-left: 1400px;}
  	100% {margin-left: -700px;}
  }
  @-moz-keyframes moveclouds {
  	0% {margin-left: 1400px;}
  	100% {margin-left: -700px;}
  }
  @-o-keyframes moveclouds {
  	0% {margin-left: 1400px;}
  	100% {margin-left: -700px;}
  }
}
@media screen and (max-width: 767px) {
  /*Time to animate*/
  .x1 {
    left: 520px; top: -170px;

  	-webkit-animation: moveclouds 15s linear infinite;
  	-moz-animation: moveclouds 15s linear infinite;
  	-o-animation: moveclouds 15s linear infinite;
  }

  /*variable speed, opacity, and position of clouds for realistic effect*/
  .x2 {
  	left: 480px; top: -200px;

  	-webkit-transform: scale(0.6);
  	-moz-transform: scale(0.6);
  	transform: scale(0.6);
  	opacity: 0.6; /*opacity proportional to the size*/

  	/*Speed will also be proportional to the size and opacity*/
  	/*More the speed. Less the time in 's' = seconds*/
  	-webkit-animation: moveclouds 25s linear infinite;
  	-moz-animation: moveclouds 25s linear infinite;
  	-o-animation: moveclouds 25s linear infinite;
  }

  .x3 {
  	left: 550px; top: -230px;

  	-webkit-transform: scale(0.8);
  	-moz-transform: scale(0.8);
  	transform: scale(0.8);
  	opacity: 0.8; /*opacity proportional to the size*/

  	-webkit-animation: moveclouds 20s linear infinite;
  	-moz-animation: moveclouds 20s linear infinite;
  	-o-animation: moveclouds 20s linear infinite;
  }

  .x4 {
  	left: 470px; top: -270px;

  	-webkit-transform: scale(0.75);
  	-moz-transform: scale(0.75);
  	transform: scale(0.75);
  	opacity: 0.75; /*opacity proportional to the size*/

  	-webkit-animation: moveclouds 18s linear infinite;
  	-moz-animation: moveclouds 18s linear infinite;
  	-o-animation: moveclouds 18s linear infinite;
  }

  .x5 {
  	left: 650px; top: -170px;

  	-webkit-transform: scale(0.8);
  	-moz-transform: scale(0.8);
  	transform: scale(0.8);
  	opacity: 0.6; /*opacity proportional to the size*/

  	-webkit-animation: moveclouds 20s linear infinite;
  	-moz-animation: moveclouds 20s linear infinite;
  	-o-animation: moveclouds 20s linear infinite;
  }
  .x6 {
  	left: 600px; top: -300px;

  	-webkit-transform: scale(0.8);
  	-moz-transform: scale(0.8);
  	transform: scale(0.8);
  	opacity: 0.7; /*opacity proportional to the size*/

  	-webkit-animation: moveclouds 14s linear infinite;
  	-moz-animation: moveclouds 14s linear infinite;
  	-o-animation: moveclouds 14s linear infinite;
  }
  .x7 {
  	display: none;
  }
  @-webkit-keyframes moveclouds {
  	0% {margin-left: 570px;}
  	100% {margin-left: -700px;}
  }
  @-moz-keyframes moveclouds {
  	0% {margin-left: 570px;}
  	100% {margin-left: -700px;}
  }
  @-o-keyframes moveclouds {
  	0% {margin-left: 570px;}
  	100% {margin-left: -700px;}
  }
}
@media screen and (max-width: 480px) {
  .x1 {
    left: 520px; top: -120px;

    -webkit-transform: scale(0.7);
  	-moz-transform: scale(0.7);
  	transform: scale(0.7);
  	opacity: 0.65; /*opacity proportional to the size*/

  	-webkit-animation: moveclouds 15s linear infinite;
  	-moz-animation: moveclouds 15s linear infinite;
  	-o-animation: moveclouds 15s linear infinite;
  }

  /*variable speed, opacity, and position of clouds for realistic effect*/
  .x2 {
  	left: 480px; top: -130px;

  	-webkit-transform: scale(0.4);
  	-moz-transform: scale(0.4);
  	transform: scale(0.4);
  	opacity: 0.6; /*opacity proportional to the size*/

  	/*Speed will also be proportional to the size and opacity*/
  	/*More the speed. Less the time in 's' = seconds*/
  	-webkit-animation: moveclouds 25s linear infinite;
  	-moz-animation: moveclouds 25s linear infinite;
  	-o-animation: moveclouds 25s linear infinite;
  }

  .x3 {
  	left: 550px; top: -180px;

  	-webkit-transform: scale(0.6);
  	-moz-transform: scale(0.6);
  	transform: scale(0.6);
  	opacity: 0.8; /*opacity proportional to the size*/

  	-webkit-animation: moveclouds 20s linear infinite;
  	-moz-animation: moveclouds 20s linear infinite;
  	-o-animation: moveclouds 20s linear infinite;
  }

  .x4 {
  	left: 470px; top: -165px;

  	-webkit-transform: scale(0.65);
  	-moz-transform: scale(0.65);
  	transform: scale(0.65);
  	opacity: 0.75; /*opacity proportional to the size*/

  	-webkit-animation: moveclouds 18s linear infinite;
  	-moz-animation: moveclouds 18s linear infinite;
  	-o-animation: moveclouds 18s linear infinite;
  }

  .x5 {
  	left: 650px; top: -150px;

  	-webkit-transform: scale(0.7);
  	-moz-transform: scale(0.7);
  	transform: scale(0.7);
  	opacity: 0.6; /*opacity proportional to the size*/

  	-webkit-animation: moveclouds 20s linear infinite;
  	-moz-animation: moveclouds 20s linear infinite;
  	-o-animation: moveclouds 20s linear infinite;
  }
  .x6 {
  	left: 600px; top: -230px;

  	-webkit-transform: scale(0.5);
  	-moz-transform: scale(0.5);
  	transform: scale(0.5);
  	opacity: 0.7; /*opacity proportional to the size*/

  	-webkit-animation: moveclouds 14s linear infinite;
  	-moz-animation: moveclouds 14s linear infinite;
  	-o-animation: moveclouds 14s linear infinite;
  }
  .x7 {
  	display: none;
  }
  @-webkit-keyframes moveclouds {
  	0% {margin-left: 20px;}
  	100% {margin-left: -810px;}
  }
  @-moz-keyframes moveclouds {
  	0% {margin-left: 20px;}
  	100% {margin-left: -810px;}
  }
  @-o-keyframes moveclouds {
  	0% {margin-left: 20px;}
  	100% {margin-left: -810px;}
  }
}
